.img-preview {
  overflow: hidden;
}
.app__img-preview {
  width: 300px;
  height: 500px;
  margin: 20px auto;
  position: relative;
}

.app__img-preview h3{
  position: absolute;
  top: 0;
  margin-left: 60px;
}

.app__img-cropped {
  position: relative;
  display: inline-block;
}

.app__img-cropped h3 {
  position: absolute;
  top: 0;
  margin-left: 60px;
}

.app__img-snapshot {
  margin: 20px auto; 
}